html, body {
  margin: 0;
}

.header {
  background: #396;
  text-align: center;
  color: #fff;
  font-size: 1.4rem;
}

.header h1 {
  display: inline-block;
  font-size: 1em;
}

.header select {
  margin: 0 0.3em;
}

.header button {
  float: right;
  margin: 10px;
  font-weight: bold;
}

.reviews__list {
  margin: 0;
  padding: 0;
}

.reviews__item {
  list-style: none;
}

.review__header h2 {
  margin: 0;
}

.review {
  max-width: 32rem;
  margin: 0 auto;
}

.review__header h2 {
}

.review__header .rsr-container {
  display: inline-block;
  position: relative;
  top: -5px;
}

.review__author, .review__country {
  border-right: dotted 1px #666;
  padding-right: 0.5em;
  margin-right: 0.5em;
}

.review__body {
  margin-top: 1em;
  font-size: 1.1rem;
}
